.footer {
    z-index: 200;
    position: fixed;
    left: 0;
    bottom: -78px;
    width: 100%;
    height: 78px;
	padding: 10px 0;
    box-shadow: 0 0 2px rgba(0,0,0, 0.35);
    transition:all 300ms linear;
}

.footer,
.bar-action {
    background-color: $grayLight;
}

.bar-action {
	text-align: center;
	height: auto;
	box-shadow: none;
	background: none;

	.btn-floating {
		box-shadow: none;
		margin: 0 5px;
	}
}


